/*!
 * WULF v1.2.6 (http://wulf-demo.dynamic.nsn-net.net/)
 * Copyright 2016 Nokia Solutions and Networks. All rights Reserved.
 */

/*!
   * WULF_toggle v0.0.1 (http://networks.nokia.com/)
   * Copyright 2015 Nokia Solutions and Networks. All rights Reserved.
*/
.n-drillDown-content {
  position: relative;
  width: 100%;
  height: 370px;
  border-top: 1px solid rgba(255, 255, 255, .65);
  border-bottom: 1px solid rgba(255, 255, 255, .65);
}
.n-drillDown-content .icon-close-rounded {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 3;
  margin-top: 30px;
  cursor: pointer;
}
.n-drillDown-arrowContainer {
  position: relative;
  height: 30px;
}
.n-drillDown-collapsed {
  position: relative;
  display: none;
  height: 400px;
}
.n-drillDown-arrow:before {
  position: absolute;
  top: 21px;
  z-index: 8;
  width: 28px;
  height: 3px;
  margin-left: -14px;
  content: '';
  background: linear-gradient(to bottom, #808080, #808080);
}
.n-drillDown-arrow {
  position: absolute;
  top: 9px;
  z-index: 6;
  width: 0;
  height: 0;
  margin-left: -21px;
  border: 18px solid transparent;
  border-top: none;
  border-bottom: 22px solid rgba(255, 255, 255, .65);
}
.n-drillDown-arrow:after {
  position: absolute;
  top: 1px;
  z-index: 7;
  width: 0;
  height: 0;
  margin-left: -18px;
  content: '';
  border: 18px solid transparent;
  border-top-width: 0;
  border-bottom: 22px solid gray;
}
.n-drillDown-border {
  border-radius: 5px;
  box-shadow: 0 0 0 3px #00a1cc;
}
.n-drillDown-inner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  content: '';
  background: -webkit-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  background:      -o-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  background:    -moz-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  background:         linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
}
.n-drillDown-inner {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #d8d9da;
  box-shadow: 12px 0 7px -12px rgba(0, 0, 0, .45) inset, -12px 0 7px -12px rgba(0, 0, 0, .45) inset, 0 12px 30px -12px rgba(0, 0, 0, .6) inset, 0 -12px 30px -12px rgba(0, 0, 0, .2) inset;
}
.n-drillDown-inner:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  content: '';
}
.n-drillDown-item,
.n-drillDown-row {
  cursor: pointer;
}
.n-drilldown-table tr:nth-child(4n+2) td {
  padding-right: 0;
  padding-left: 0;
  background-color: #efefef !important;
}
.n-drilldown-table tr:nth-child(4n) td {
  padding-right: 0;
  padding-left: 0;
  background-color: #fff !important;
}
.n-drilldown-table tr:nth-child(4n+3) td:not(.n-cell-selected) {
  background-color: #efefef;
}
.n-drilldown-table tr:nth-child(4n+1) td:not(.n-cell-selected) {
  background-color: #fff;
}
.n-drilldown-table tr {
  background-color: rgba(255, 255, 255, .1) !important;
}
.n-drilldown-table tr:last-child td {
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}
.n-drilldown-table tr:nth-last-child(2) > td:first-child {
  border-bottom-left-radius: 7px;
}
.n-drilldown-table tr:nth-last-child(2) > td:last-child {
  border-bottom-right-radius: 7px;
}
.n-drilldown-table .n-drillDown-inner {
  color: #1b1b1b;
}

/*!
   * WULF_toggle v0.0.1 (http://networks.nokia.com/)
   * Copyright 2015 Nokia Solutions and Networks. All rights Reserved.
*/
.n-drillDown-content-row {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(255, 255, 255, .65);
  border-top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .65);
}
.n-drillDown-content-row .icon-close-rounded {
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 3;
  margin-top: 30px;
  cursor: pointer;
}
.n-drillDown-collapsed-row {
  position: relative;
  display: none;
  width: 100%;
}
.n-drillDown-content-row .n-drillDown-inner:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  content: '';
  background: -webkit-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  background:      -o-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  background:    -moz-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
  background:         linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
}
.n-drillDown-content-row .n-drillDown-inner {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #d8d9da;
  box-shadow: 12px 0 7px -12px rgba(0, 0, 0, .45) inset, -12px 0 7px -12px rgba(0, 0, 0, .45) inset, 0 12px 30px -12px rgba(0, 0, 0, .6) inset, 0 -12px 30px -12px rgba(0, 0, 0, .2) inset;
}
.n-drillDown-content-row .n-drillDown-inner:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  content: '';
}
